### Preliminary Analysis

In [15]:
import pandas as pd

df = pd.read_csv('sample/WEBPXTICK_DT-20260130.csv')

/var/folders/7g/hrkcy8n51jlgpg6hft27b0t40000gn/T/ipykernel_59541/899522469.py:3: DtypeWarning: Columns (0: Mth_Code) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('sample/WEBPXTICK_DT-20260130.csv')

In [16]:
df.head()

,Comm,Contract_Type,Mth_Code,Year,Strike,Trade_Date,Log_Time,Price,Msg_Code,Volume
0,AMF,F,G,2026.0,0.0,20260130,90045,6185.0,A,10
1,AMF,F,G,2026.0,0.0,20260130,90046,6115.0,B,10
2,AMF,F,G,2026.0,0.0,20260130,92017,6185.0,A,10
3,AMF,F,G,2026.0,0.0,20260130,100038,6115.0,B,10
4,AMF,F,G,2026.0,0.0,20260130,100039,6200.0,A,50